<span class="menu-icon-fixed" (click)="toggleSidebar()">☰</span>

@if (isSidebarOpen()) {
  <div class="sidebar-backdrop" (click)="toggleSidebar()"></div> 
  
  <div class="sidebar-container">
    <app-sidebar (linkClicked)="toggleSidebar()"></app-sidebar> 
  </div>
}

<main class="main-app" 
      [class.blurred]="!(user$ | async)"
      [class.sidebar-open]="isSidebarOpen()">
  
  <nav class="navbar">
    <div class="navbar-left">
      <a href="/analisi"><img src="assets/logo.png" alt="Recruit AI Logo" class="navbar-logo"></a>
    </div>
  </nav>

  <router-outlet></router-outlet>

</main>

@if (user$ | async; as user) {
  <div class="user-info-container">
    <span>Ciao, {{ user.displayName }}</span>
    <button (click)="logout()" class="btn-glass-logout">Logout</button>
  </div>
} @else {
  <div class="login-modal-backdrop">
    </div>
}