body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f5f5f5;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  background-color: black;
}

.app-content {
  position: relative;
  z-index: 0; 
  width: 100%;
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
  align-items: center;
}

app-header{
    width: 100%;
}

app-analysis {
    width: 80%;
}

/* per evitare margin e padding indesiderati */

* {
  box-sizing: border-box;
}

/* stili per il tag main */
main.content {
    flex-grow: 1; 
    width: 100%;
    display: flex;
    justify-content: center; 
    box-sizing: border-box;
    padding: 20px;
}

@media (max-width: 1000px) {
  main.content{
    padding: 0px;
  }
}