body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f5f5f5;
  min-height: 100vh;
  background-color: #0d0d0d; /* Fallback */
}


.background-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  background-image: url('assets/liquid-glass-background.webp'); 
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* effetto filtro opaco */
  filter: blur(8px) brightness(0.6) grayscale(0.3); 
  -webkit-filter: blur(8px) brightness(0.6) grayscale(0.3);
}


.app-content {
  position: relative;
  z-index: 0; 
  width: 100%;
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
  align-items: center;
}

app-header{
    width: 100%;
}

app-analysis {
    width: 80%;
}

/* per evitare margin e padding indesiderati */

* {
  box-sizing: border-box;
}

/* stili per il tag main */
main.content {
    flex-grow: 1; 
    width: 100%;
    display: flex;
    justify-content: center; 
    box-sizing: border-box;
    padding: 20px;
}

@media (max-width: 1000px) {
  main.content{
    padding: 0px;
  }
}